@font-face {
  font-family: editFont;
  src: url(../font/Poppins-Regular.ttf);
}

* {
  font-family: 'editFont';
}

p {
  margin-bottom: 0 !important;
  font-size: 14px;
}

.dropdown-menu.show {
  transform: translateX(-85%);
  border-radius: 16px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.alert {
  background-color: rgba(121, 25, 25, 0.5) !important;
  border-radius: 16px !important;
  color: white !important;
  padding: 10px;
}

.css-1jwo4rq-MuiInputBase-root .MuiInputBase-input {
  padding-left: 0 !important;
}

.css-i4bv87-MuiSvgIcon-root {
  position: relative;
  left: 90%;
}

.modal-open {
  overflow: visible !important;
  padding-right: 0 !important;
}
.offcanvas.show {
  width: 50%;
}

.navbar-light .navbar-toggler {
  border-radius: 16px;
  padding: 10px;
}

/* navbar */
/* homeNav */
.box {
  width: 100px;
  height: 34px;
  background-color: rgba(75, 25, 121, 1);
}

.home-nav {
  box-shadow: 0 2px 10px rgb(177, 176, 176);
}

.blank-nav {
  box-shadow: 0 2px 10px rgb(177, 176, 176);
}

.blank-navV2 {
  box-shadow: 0 2px 10px rgb(177, 176, 176);
}
.home-nav form input {
  width: 444px;
  border-radius: 16px;
  padding: 7px 12px;
}

.info-offers {
  box-shadow: 0 2px 10px rgb(177, 176, 176);
}

/* navbar is login */
.navbar-is_login .navbar-items button svg:hover {
  color: rgba(113, 38, 181, 1) !important;
}

/* daftar jual */
.home-nav.daftar-jual .container h3 {
  display: none;
}

.css-19kzrtu {
  padding: 0 !important;
}

.css-10d9dml-MuiTabs-indicator {
  display: none !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  border-right: 1px solid transparent !important;
  border-color: rgba(0, 0, 0, 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;
  padding: 5px 0 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root div {
  display: flex;
  align-self: flex-start;
  padding-left: 10px;
  font-weight: 500 !important;
}

.css-35zqo5-MuiTabs-root {
  border-right: 1px solid transparent;
}

.css-heg063-MuiTabs-flexContainer {
  gap: 20px;
  overflow: scroll;
  border-bottom: none;
}

.css-heg063-MuiTabs-flexContainer::-webkit-scrollbar {
  display: none;
}

.css-1aquho2-MuiTabs-indicator {
  display: none;
}
/* carousel */
.slider .owl-theme .owl-nav {
  display: none;
}

.slider {
  position: relative;
  transition: all 0.5 ease;
  /* border: 2px solid black; */
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.5);
}

.slider .slider-card {
  margin: 50px 70px 50px 60px;
  border: 1px solid transparent;
}

.slider .slider-card .card {
  border: 1px solid transparent;
  /* padding-top: 0px; */
}

.slider .owl-theme .owl-dots {
  display: none;
}

.slider .home-carousel-1 {
  /* padding-top: 50px; */
  width: 405px;
  height: 135px;
  border-radius: 10px;
  background-color: #ffe9ca;
}

.slider .home-carousel-2 {
  width: 405px;
  height: 135px;
  border-radius: 10px;
  background-color: #e2d4f0;
}

.slider .home-carousel-3 {
  width: 405px;
  height: 135px;
  border-radius: 10px;
  background-color: #b6d4a8;
}

.text-1 {
  font-weight: bold;
  z-index: 999;
  position: relative;
  margin: 25px 0 0 70px;
}

.text-2 {
  margin: 5px 0 0 70px;
  font-size: 10px;
}

.text-3 {
  margin: 0px 0 0 70px;
  color: red;
}

.carousel-1 img {
  max-width: 150px;
  max-height: 150px;
  z-index: 999;
  position: relative;
  margin: 40px 0 0 10px;
}

.carousel-2 img {
  height: 134px;
  max-width: 205px;
  position: absolute;
  z-index: 1;
}

/* carousel product */
.slider-product .carousel .carousel-indicators button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid rgba(113, 38, 181, 1);
  background-color: rgba(196, 196, 196, 1);
  opacity: 1;
}

.slider-product .carousel .carousel-indicators button.active {
  background-color: rgba(113, 38, 181, 1);
}

.slider-product .carousel .carousel-control-next-icon {
  background-image: url(../images/next.png);
  width: 50%;
  height: 12px;
  color: black;
}
.carousel-control-next,
.carousel-control-prev {
  width: 30px !important;
  background-color: white !important;
  height: 30px !important;
  border-radius: 50% !important;
  position: absolute !important;
  opacity: 1 !important;
}

.carousel-control-next {
  top: 50% !important;
  right: 5% !important;
}
.carousel-control-prev {
  top: 50% !important;
  left: 5% !important;
}

.slider-product .carousel .carousel-control-prev-icon {
  background-image: url(../images/prev.png);
  width: 50%;
  height: 12px;
}

.carousel-home-product .carousel-item img {
  height: 436px;
  border-radius: 16px;
}

/* cayegory */
.category div button {
  border: 1px solid rgba(226, 212, 240, 1);
  border-radius: 12px;
  background-color: rgba(226, 212, 240, 1);
  color: black;
}

.category div button.button-sell {
  width: 7%;
  border: 1px solid rgba(113, 38, 181, 1);
  border-radius: 12px;
  background-color: rgba(113, 38, 181, 1);
  color: white;
  margin: 0 46.5%;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.55);
}

.category div button:hover {
  border: 1px solid rgba(113, 38, 181, 1);
  border-radius: 12px;
  background-color: rgba(113, 38, 181, 1);
  color: white;
}

.category div button:focus {
  border: 1px solid rgba(113, 38, 181, 1);
  border-radius: 12px;
  background-color: rgba(113, 38, 181, 1);
  color: white;
}

/* search bar */
.search-bar-fixed input {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 0 20px;
}
.search-bar-fixed input:focus {
  outline: 1px solid #837e7e;
}

.search-bar-fixed .search-icon {
  transform: translate(-50px, 4px);
  color: #8a8a8a;
}

/* sidebar */
.category-daftar-jual_scroll .button-second-category {
  display: none !important;
}

.sidebar-category-responsive.card {
  border: 1px solid rgba(113, 38, 181, 0);
  padding: 0 10px;
}

.category-daftar-jual_scroll.container {
  padding-right: 0 !important;
}

.sidebar-category-responsive.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(113, 38, 181, 0);
  border-radius: 16px;
}

.sidebar-category-responsive.card h5 {
  padding: 5% 0 0 9%;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  color: #7126b5 !important;
  background-color: transparent !important;
}

.navigasi-user .card {
  border: 1px solid transparent;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
/* card */
.card-content {
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-gap: 20px;
}

.card-content .card {
  border: 1px solid transparent;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card-content-seller .product-seller {
  width: 33.3% !important;
}
/* form */
/* form login */
.row-login {
  margin: 0;
}

.row-login .col:nth-child(2) .arrow-back {
  display: none;
}

.row-register .col:nth-child(2) .arrow-back {
  display: none;
}

/* form info akun */
.upload {
  margin: 20px 48%;
}
.upload .upload-image {
  position: relative;
  padding: 30px 33px;
  border-radius: 12px;
  overflow: hidden;
}

.upload .upload-image input[type='file'] {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(3);
  opacity: 0;
}

/* form info product */
.upload-product .upload-image-product {
  width: 18%;
  position: relative;
  padding: 30px 33px;
  border-radius: 12px;
  overflow: hidden;
}

.upload-product .upload-image-product input[type='file'] {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(5);
  opacity: 0;
}

/* form info akun */
.form-info-acc h5 {
  display: none;
}
.form-info-acc form .form-body {
  transform: translate(55%);
}

.form-info-product h5 {
  display: none;
}
.form-info-product form .form-body {
  transform: translate(55%);
}

.upload-image-button {
  width: 96px;
  height: 96px;
  border: 2px dashed rgba(208, 208, 208, 1) !important;
  background-color: transparent !important;
  border-radius: 12px;
}

.upload-image-button h2 {
  color: rgba(208, 208, 208, 1);
}

.profil-image-preview {
  position: relative;
  place-content: center;
  padding: 5px;
}

.profil-image-preview img {
  object-fit: cover;
  width: 100% !important;
  border-radius: 4px;
}

.profil-image-preview input {
  position: absolute;
  top: 0;
  align-self: center;
  opacity: 0;
  overflow: hidden;
  height: 100%;
}
/* content */
/* user profile */
.user-profile .card:nth-child(1) {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

/* content product */
.content-product .upload-product .upload-image-product {
  position: relative;
  padding: 32% 0 !important;
  border-radius: 4px;
  overflow: hidden;
  flex-direction: column;
}

.content-product .upload-product .upload-image-product input[type='file'] {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: scale(3);
  opacity: 0;
}

.content-product .upload-product button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.5);
  border: 2px dashed rgba(0, 0, 0, 0.15);
  padding-top: 0% !important;
}

.content-product .card {
  border-radius: 4px !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(113, 38, 181, 0);
}

.content-product {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-auto-flow: row;
}

.daftar-jual_category {
  display: none;
}

/* offers */
.offers-page.container {
  width: 55%;
}

.offers-page .product-offering {
  margin: 0 0 0 10%;
  width: 87%;
}

.offers-page .product-offering .card-buyer {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.offers-page .product-offering .card-buyer .buyer {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-top: 5px;
}

.offers-page .product-offering .card-buyer .buyer img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
}

.offers-page .product-offering .items-offering {
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.offers-page .product-offering .items-offering .first-div img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-top: 4px;
}

.offers-page .items-offering button {
  border: 1px solid rgba(113, 38, 181, 1);
  border-radius: 16px;
  font-weight: 500;
}

.offers-page .items-offering button:nth-child(1) {
  background-color: rgb(255, 255, 255);
  color: black;
}
.offers-page .items-offering button:nth-child(2) {
  background-color: rgba(113, 38, 181, 1);
}

/* modal */
.modal-content {
  width: 75% !important;
  border-radius: 16px !important;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-penawar img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.modal-penawar .modal-footer button {
  background-color: #7126b5;
  border: 1px solid #7126b5;
  border-radius: 16px;
}

.modal-offers-button {
  border-radius: 16px;
  padding: 10px 22px;
  background: #7126b5;
  border: 1px solid #7126b5;
}

.modal.show .modal-dialog .modal-content {
  padding: 10px 36px;
}

@media only screen and (max-width: 1023px) {
  .dropdown-menu.show {
    transform: translate(-33%);
  }

  .modal-content {
    width: 100% !important;
  }

  .fade.moda.show {
    padding: 0 !important;
  }

  .dropdown-menu.show .dropdown-item a div {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .css-1xdupth {
    top: 7px;
  }

  .css-1jwo4rq-MuiInputBase-root .MuiInputBase-input {
    padding-left: 0 !important;
  }

  .css-i4bv87-MuiSvgIcon-root {
    position: relative;
    left: 85%;
  }

  .css-1xdupth {
    width: 120% !important;
  }
  /* navbar */
  .box {
    display: none;
  }

  /* home nav */
  .home-nav {
    box-shadow: 0 2px 10px rgba(177, 176, 176, 0);
    background: transparent;
    z-index: 999;
  }

  .home-nav ~ .offcanvas.show {
    display: none !important;
  }

  .info-offers {
    box-shadow: none;
  }
  /* blank nav */
  div .blank-nav {
    display: none !important;
  }

  .blank-navV2 {
    display: none !important;
  }

  .navbar-light .navbar-toggler {
    background-color: white;
  }

  /* navbar is login */
  .navbar-is_login {
    display: none !important;
  }

  .slider {
    margin-top: -110px;
  }

  .slider .owl-item.active.center {
    transform: none;
    z-index: -1 !important;
  }

  .slider .home-carousel-1,
  .slider .home-carousel-2,
  .slider .home-carousel-3 {
    height: 350px;
    max-width: 100%;
    border-radius: 0;
  }

  .owl-carousel .owl-item img {
    width: 135%;
  }

  .carousel-home-product .carousel-item img {
    height: 300px;
    border-radius: 0;
  }

  .slider .home-carousel-1 {
    background: linear-gradient(#ffe9ca, white);
  }

  .slider .home-carousel-2 {
    background: linear-gradient(#e2d4f0, white);
  }

  .slider .home-carousel-3 {
    background: linear-gradient(#b6d4a8, white);
  }

  .slider .carousel-2 img {
    display: none !important;
  }

  .slider .carousel-1 img {
    margin-top: 100%;
    margin-left: -60px !important;
    max-width: 70%;
  }

  .slider .text-1,
  .slider .text-2,
  .slider .text-3 {
    margin-right: 0 !important;
  }

  .slider .text-1 {
    margin-top: 30%;
    font-size: 18px;
  }

  .slider .text-2 {
    font-size: 12px;
    margin-top: 5%;
  }

  .slider .text-3 {
    font-size: 20px;
  }

  .slider .slider-card {
    margin: 0 !important;
    z-index: -1;
    position: relative;
  }

  .slider .slider-card .row {
    margin-top: 30px;
  }

  /* carousel product */
  .slider-product .owl-theme .owl-dots {
    top: 80%;
    left: 42%;
  }
  .home-nav form input {
    width: 270px;
    background-color: white !important;
  }

  .carousel-text {
    padding-left: 5%;
  }

  /* daftar jual */
  .home-nav.daftar-jual .container h3 {
    display: block;
  }

  .page-daftar-jual h5 {
    display: none;
  }

  .page-daftar-jual.container {
    margin-top: 0 !important;
    width: 100% !important;
  }

  .home-nav.daftar-jual .container {
    flex-direction: row-reverse;
    gap: 20px;
  }

  .navigasi-user .card img {
    width: 15% !important;
  }

  .daftar-jual_category {
    display: block;
  }

  .daftar-jual_category .button-category {
    overflow-x: scroll;
  }

  .daftar-jual_category .button-category::-webkit-scrollbar {
    display: none;
  }

  .daftar-jual_category .button-category button {
    border-radius: 12px;
    background-color: rgba(226, 212, 240, 1);
    border: 1px solid rgba(226, 212, 240, 1);
    color: rgba(60, 60, 60, 1);
  }

  .daftar-jual_category .button-category button:hover {
    background-color: rgba(113, 38, 181, 1);
    border: 1px solid rgba(113, 38, 181, 1);
    color: white;
  }

  /* sidebar */
  .sidebar-category-responsive.card {
    display: none;
  }

  .category-daftar-jual_scroll .button-second-category {
    display: flex !important;
    overflow-x: scroll;
  }

  .category-daftar-jual_scroll .button-second-category::-webkit-scrollbar {
    display: none;
  }

  .category-daftar-jual_scroll .button-second-category button {
    height: 44px;
    padding: 12px 16px !important;
    align-items: center;
    background-color: rgba(226, 212, 240, 1);
    color: rgba(60, 60, 60, 1);
    border-radius: 12px;
    border: 1px solid rgba(226, 212, 240, 1);
  }

  .category-daftar-jual_scroll .button-second-category button:focus {
    background-color: rgba(113, 38, 181, 1);
    box-shadow: none;
    color: white;
  }

  .category-daftar-jual_scroll {
    margin-bottom: 10px;
    padding: 0 !important;
  }
  /* category */
  .category div button.button-sell {
    width: 25%;
    margin: 0 37.5%;
  }

  .category .button-category {
    overflow-x: scroll;
  }
  .category .button-category::-webkit-scrollbar {
    width: 0;
  }
  /* card */
  .card-content {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-gap: 20px;
    justify-content: center;
  }

  /* login */
  .row-login .col:nth-child(2) {
    margin: 35% 0 !important;
    padding: 0 16px !important;
  }
  .row-login .col:nth-child(2) .arrow-back {
    display: block;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 2rem;
  }
  .row-login .col .row-login-body {
    padding: 0 !important;
  }
  .row-login .col:nth-child(1) {
    display: none;
  }

  .row-register .col:nth-child(2) {
    margin: 25% 0 !important;
    padding: 0 16px !important;
  }
  .row-register .col:nth-child(2) .arrow-back {
    display: block;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 2rem;
  }
  .row-register .col .row-register-body {
    padding: 0 !important;
  }
  .row-register .col:nth-child(1) {
    display: none;
  }

  /* form info akun */
  .form-info-acc h5 {
    display: block;
    margin-top: 20px;
  }

  .form-info-acc a svg {
    margin-left: -90px;
  }

  .form-info-acc .upload {
    margin: 20px 35%;
  }

  .form-info-acc form {
    margin-top: 40px;
  }

  .form-info-acc form .form-body {
    width: 100% !important;
    transform: translate(0);
  }

  .form-info-product form {
    margin-top: 40px;
  }

  .form-info-product form .form-body {
    width: 100% !important;
    transform: translate(0);
  }

  .upload-product {
    height: 185px;
  }

  .form-info-product form .upload-product .upload-image-product {
    width: 25%;
  }

  .form-info-product h5 {
    display: block;
  }

  .form-info-product a {
    left: 8px !important;
  }

  /* content */
  .buttons-user {
    position: absolute;
    z-index: 999;
    bottom: -110%;
  }

  .user-profile {
    width: 140%;
    margin-left: -47px;
  }

  .card-product-carousel {
    width: 150%;
    margin: -30%;
  }

  .card-product-carousel .slider-product .owl-theme .item.active {
    width: 150% !important;
  }

  .card-description {
    width: 140%;
    margin-left: -47px;
  }

  .card-content-seller .product-seller {
    width: 50% !important;
  }

  .buttons-user div {
    position: fixed;
    width: 90%;
    left: 5%;
  }

  .buttons-user div button:nth-child(2) {
    display: none;
  }

  .content-product {
    grid-template-columns: 50% 50%;
  }

  /* offers */
  .offers-page.container {
    width: 100%;
  }

  .offers-page .product-offering {
    width: 100%;
    margin: 0;
  }

  .offers-page .product-offering .items-offering .first-div span:nth-child(2) {
    right: 5% !important;
  }

  .offers-page .product-offering .items-offering .button-offers {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
